/* 
    Created on : 09-may-2014, 15:33:19
    Author     : Olaia
*/

.mg{margin-top: 40px;}
.mg2{margin-top: 60px;}
/* 
    Created on : 14-may-2014
    Author     : Esther
*/
.mg3{margin-top: 30px;}
.validado {background:green;}
.no_validado{background:red; /* firefox */}
#footer{
color:white;
	width: 85%;
	height:5%;
}
#texto_footer{
color:white;
}